# Node
node_modules/
dist/
build/

# Env
.env

# Logs
*.log
npm-debug.log*

# Docker
mysql_data/
docker-compose.override.yml
docker-compose.override.yaml
docker-compose.override.yml
docker-compose.override.yaml

# Linux
*~
# IDEs
.idea/
.vscode/
